body {
    margin: 0 auto;
    padding: 0;
    background-color: #fcfcfc;
}

.header {
    min-height: 70px;
    background: #251abe;
}

.section--title {
    font-size: 38px;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 3px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;;
    padding: 30px;
}

input {
    min-width: 800px;
    padding: 10px;
    border-color: aqua;
    border-radius: 5px;
    font-size: 20px;
    background-color: #fcfcfc;
}

.form__button {
    padding: 16px 10px 10px 10px;
    margin-left: 15px;
    background-color: rgb(72, 72, 255);
    color: white;
    font-family: "Courier New";
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

.section--wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.section__li--task {
    text-align: center;
    min-width: 700px;
    max-width: 700px;
    padding: 30px;
    margin-top: 30px;
    box-shadow: 1px 3px 8px 3px #d1d1d1;

    font-size: 30px;
    list-style-type: none;
}

.section__div--empty {
    
    text-align: center;
    min-width: 70%;
    min-height: 60px;
    margin-top: 30px;;
    box-shadow: 1px 3px 8px 3px #d1d1d1;

}

.section__div--span {
    color: rgb(36, 123, 194);
    font-family: Roboto;
    font-size: 32px;
}

.section__div--p {
    color: #727272;
    padding: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.li__button--delete {
    padding: 10px;
    float: right;
    margin-left: 15px;
    background-color: rgb(72, 72, 255);
    color: white;
    font-family: "Courier New";
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

/* ----------------------- */

.main--correctValue {
    background-color: #fcfcfc;

    animation-name: correctValue;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.main--wrongValue {
    background-color: red;

    animation-name: tooLongValue;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
/* ----------------------- */

.section__div--display {
    display: none;
}

@keyframes tooLongValue
{
    from {background-color: #fcfcfc;}
    to {background-color: red;}
}

@keyframes correctValue
{
    from {background-color: red;}
    to {background-color: #fcfcfc;}
}